body
{
    background: url(../../img/team.jpg) #f5f5f5 fixed no-repeat;
    background-position: center 30%;
    background-size: auto 100vh;
    height: 100%;
    margin: 0;
	color: #3b3b3b;
	width: 100%;
	
}
.container
{
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
   &-nav
    { 
        width: 50%; 
        
    }
    &-ul 
    {  
        list-style: none;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        font-size: 33px;
        font-family: OpenSansRegular;
        a
        {
            text-decoration: none;
            color: #3b3b3b;
            transition: all 0.3s;
            display: inline-block;
            &::after
                {
                    content: "";
                    display: block;
                    border-bottom: 3px solid #3b3b3b;
                    transform: scaleX(0);  
                    transform-origin: center; 
                    transition: all 0.3s ease-in;
                }
            &:hover
            {
                
                transition: all 0.3s;
                color: #3b3b3b;
                &::after
                {
                    transform: scaleX(1);  
                    transition: all 0.3s ease-out;
                }
                
            }
            
        }
    }
	&-team
	{
		width: 50%;
		height: 80vh; 
		ul
		{
			list-style: none;
			
			
		}
	
	}
}
.team
{
	h2
	{
		text-align: center;
		font-family: OpenSansRegular, "Segoe UI", Arial;
		font-size: 55px;
		margin: 15px;
		font-weight: 400;
	}
	&-list
	{
		&-item
		{
			&__img
			{
				max-width: 100%;
				height: fit-content;
				flex: 1 1 45px;
			}
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			p
			{
				flex: 8 8 300px;
				margin-left: 10px;
				padding: 10px;
				border-radius: 10px;
				text-align: justify;
				font-family: OpenSansRegular, 'Segoe UI', Arial;
				font-size: 12px;
				background: #fff;
				-webkit-box-shadow: 1px 1px 15px -2px rgba(0,0,0,0.5);
				-moz-box-shadow: 1px 1px 15px -2px rgba(0,0,0,0.5);
				box-shadow: 1px 1px 15px -2px rgba(0,0,0,0.5);
			}
		}
	}
}
@media screen and (min-width: 1200px) {
    .container
    {
        width: 1170px;
    }
}
@media screen and (min-width: 996px) and (max-width: 1199px) {
    .container
    {
        width: 960px;
        &-button
        {
            h2
            {
                font-size: 40px;
            }
            a
            {
                font-size: 30px;
            }
        }
    }
    .container-ul
    {
        font-size: 25px; 
    }
}
@media screen and (min-width: 768px) and (max-width: 995px) {
    body
	{
	    background-position: 40% 8%;
	}
	
	.container
    {
        width: 720px;
        &-nav
        {
            display: none;
            width: 100vw;
            height: 100%;
            background: rgba(0,0,0,0.7);
           
        }
        
        &-ul
        {
            flex-direction: column;
        }
		&-team
		{
			width: 65%;
		}
    }


}
@media screen and (min-width: 576px) and (max-width: 767px) {
        body
{
    background-position: 40% 8%;
}
    .container
    {
        width: 520px;
        &-nav
        {
            display: none;
            width: 100vw;
            height: 100%;
            background: rgba(0,0,0,0.7);
           
        }
		&-team
		{
			width: 100%;
		}
        
    }    

}
@media screen and (max-width: 575px) {
    body
{
    background-position: 30% 9%;
}
    .container
    {
        width: 95%;
        &-nav
        {
            display: none;
            width: 100vw;
            height: 100%;
            background: rgba(0,0,0,0.7);
           
        }
		&-team
		{
			width: 100%;
		}
    }
}
.smart-nav__icon .bar
{
	fill: #3b3b3b;
}
.smart-nav__icon .close
{
	color: #fff;
}