body
{
    background: url(../../img/index.jpg);
    background-position: center top;
    background-size: auto 120vh;
    height: 100%;
    margin: 0;
}
.container
{
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
   &-nav
    { 
        width: 50%; 
        
    }
    &-ul 
    {  
        list-style: none;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        font-size: 33px;
        font-family: OpenSansRegular;
        a
        {
            text-decoration: none;
            color: #fff;
            transition: all 0.3s;
            display: inline-block;
            &::after
                {
                    content: "";
                    display: block;
                    border-bottom: 3px solid #fff;
                    transform: scaleX(0);  
                    transform-origin: center;
                    transition: all 0.3s ease-in;
                }
            &:hover
            {
                
                transition: all 0.3s;
                color: #fff;
                &::after
                {
                    transform: scaleX(1);  
                    transition: all 0.3s ease-out;
                }
                
            }
            
        }
    }
    &-button
    {
        height: 80vh;
        align-items: center;
        width: 50%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        font-family: OpenSansRegular;
        h2
        {
            font-size: 65px;
            font-weight: 400;
            text-align: center;
        }
        a
        {
            font-size: 36px;
            border-radius: 20px;
            padding: 20px 60px;
            border: 3px solid #fff;
            text-decoration: none;
            color: #fff;
            transition: all 0.4s ease-in-out;
            &:hover
            {
                color: #000;
                background: #fff;
                border: 3px solid rgba(255,255,255,0);
            }
            
        }
    }
}
@media screen and (min-width: 1200px) {
    .container
    {
        width: 1170px;
    }
}
@media screen and (min-width: 996px) and (max-width: 1199px) {
    .container
    {
        width: 960px;
        &-button
        {
            h2
            {
                font-size: 40px;
            }
            a
            {
                font-size: 30px;
            }
        }
    }
    .container-ul
    {
        font-size: 25px; 
    }
}
@media screen and (min-width: 768px) and (max-width: 995px) {
    .container
    {
        width: 720px;
        &-nav
        {
            display: none;
            width: 100vw;
            height: 100%;
            background: rgba(0,0,0,0.7);
           
        }
        
        &-ul
        {
            flex-direction: column;
        }
        &-button
        {
            h2
            {
                font-size: 40px;
            }
            a
            {
                font-size: 18px;
                border-radius: 20px;
                padding: 10px 20px;    
            }
        }
    }


}
@media screen and (min-width: 576px) and (max-width: 767px) {
        body
{
    background-position: 40% top;
}
    .container
    {
        width: 520px;
        &-nav
        {
            display: none;
            width: 100vw;
            height: 100%;
            background: rgba(0,0,0,0.7);
           
        }
        &-button
        {
            h2
            {
                font-size: 40px;
            }
            a
            {
                font-size: 18px;
                border-radius: 20px;
                padding: 10px 20px;    
            }
        }
    }    

}
@media screen and (max-width: 575px) {
    body
{
    background-position: 30% top;
}
    .container
    {
        width: 100%;
        &-nav
        {
            display: none;
            width: 100vw;
            height: 100%;
            background: rgba(0,0,0,0.7);
           
        }
        &-button
        {
            justify-content: flex-end;
            width: 100%;
            height: 90vh;
            h2
            {
                font-size: 30px;
            }
            a
            {
                font-size: 18px;
                border-radius: 20px;
                padding: 10px 20px;    
            }
        }
    }
    
    
}